---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

export const prerender = true;
---

<Layout title="Curso de TDD">
	<main>
		<h1>Seja bem-vindo!</h1>
		<hr>
		<h2>Curso de Introdução ao Desenvolvimento Orientado a Testes (TDD) e ao profissionalismo em programação</h2>
		<ul>
			<li>
				<a href="./demo" target="_blank" rel="noopener noreferrer">Unidade 1</a>
				(<a href="./snippets/unidade-1">Snippets da Unidade</a>)
			</li>
			<li>
				Unidade 2 (em breve)
			</li>
			<li>
				Unidade 3 (em breve)
			</li>
		</ul>
		<h2>Tutorial para criar ambiente de programação do curso: uso do Codespaces</h2>
		<span><a href="./codespaces" target="_blank" rel="noopener noreferrer">Configurando com Codespace (requer conta do GitHub)</a></span>
		
		<h3>Pré-requisitos</h3>
		<ul>
			<li>Java 21 (Recomendo <a href="https://jdk.java.net/java-se-ri/21" target="_blank" rel="noopener noreferrer">OpenJDK 21 LTS</a>)</li>
			<li><a href="https://maven.apache.org/download.cgi" target="_blank" rel="noopener noreferrer">Apache Maven 3 </a></li>
			<li><a href="https://code.visualstudio.com/" target="_blank" rel="noopener noreferrer">Visual Studio Code</a> com a Extensão <a href="https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-pack" target="_blank" rel="noopener noreferrer">"Extension Pack for Java"</a></li>
			<li>ou <a href="https://www.jetbrains.com/idea/" target="_blank" rel="noopener noreferrer">IntelliJ IDEA</a></li>
		</ul>
		<h2>Contato</h2>
		Cristian C. Mello: <a href="mailto:cristianc.mello@gmail.com">cristianc.mello@gmail.com</a>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
